*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    column-gap: 50px;
}

.encabezado {
    background-color: #EAC926;
    font-size: 22px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

.nav1 {
    color: black;
    text-decoration: none;
}

.nav2 {
    color: black;
    text-decoration: none;
}

.titulares {
    font-size: 24px;
    color: #666;
}

.precios {
    font-size: 18px;
    width: 30%;
    flex-grow: 0.5;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    flex-grow: 0.5;
}

.descripciones {
    font-size: 16px;
    color: #666;
    padding-top: 25px;
}

.msg-cuo-tar {
    align-content: center;
}

.burger-menu {
    margin-left: auto;
    margin-right: auto;
    background-color: #03264C;
    padding: 10px;
    text-align: center;
    width: 12vw;
}

.fa-bars {
    color: white;
    font-size: 30px;
    text-align: center;
}

footer {
    background-color: white;
}

footer {
    text-align: center;
    padding: 10%;
}

.footer-article {
    padding-top: 20%;
}

.icon-footer {
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

main {
    box-sizing: border-box;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

article {
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
}

.info-articulo {
    box-sizing: border-box;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    justify-items: flex-start;
    flex-wrap: wrap;
}

.fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

nav {
    display: none;
}

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.prod {
    width: 100%;
}

.logo {
    width: 50%;
}

.barra-busqueda {
    width: 50%;
}

/* tablet */
@media (min-width: 520px){
    .md-box-shadow {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }
    /*
    .productos {
        justify-content: space-around;
    }
    .prod {
        width: 50%;
    }*/
    .productos {
        display: grid;
        grid-template-columns: auto auto;
        gap: 5%;
    }

    .prod {
        width: 100%;
    }
}

/* desktop */
@media (min-width: 1280px){
    .md-box-shadow {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .productos {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 5%;
    }

    .prod {
        width: 100%;
    }
}