*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

.encabezado {
    background-color: #EAC926;
    font-size: 22px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

.navs {
    color: black;
    text-decoration: none;
    padding: 8px;
}

.navs:hover {
    color: #ebebeb;
}

.titulares {
    font-size: 24px;
    color: #666;
    width: 100%;
}

.precios {
    font-size: 18px;
    margin-right: 8px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
}

.descripciones {
    font-size: 16px;
    color: #666;
    padding-top: 10px;
    width: 100%;
    display: none;
}

.msg-cuo-tar {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.burger-menu {    
    text-align: center;
    width: 100%;
}

.fa-bars {
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: #03264C;
    font-weight: bold;
}

footer {
    background-color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.footer-article {
    padding-top: 30px;
}

.icon-footer {
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

main {
    box-sizing: border-box;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

article {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
    padding: 5px;
}

.info-articulo {
    box-sizing: border-box;
    border-top: solid 1px #ebebeb;
    padding: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.icono-envio {
    padding: 5px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    color: #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

nav {
    display: none;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.prod {
    width: 100%;
}

.logo {
    width: 50%;
}

.barra-busqueda {
    width: 50%;
    padding: 20px;
    align-self: center;
}

.barra-action {
    padding: 10px;
    display: flex;
    border-radius: 5px;
}

.barra-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.barra-button {
    border: none;
}

.banner {
    width: 100%;
    margin: 0;
    padding: 0;
}

.menus {
    width: 100%;
}

/* tablet */
@media (min-width: 768px){
    .md-box-shadow {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .prod {
        width: 48%;
    }

    .logo {
        width: 33%;
    }

    .barra-busqueda {
        width: 33%;
    }

    .msg-cuo-tar {
        width: 33%;
        padding: 20px;
        align-self: center;
    }
     
    .menus {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 30px;
        font-size: 2vw; 
    }

    .navs {
        padding: auto;
    }

    .menu1{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        gap: 2%;
        margin-left: 22px;
    }

    .menu2{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        gap: 2%;
        margin-right: 22px;
    }

    .encabezado {
        align-items: center;
    }
}

/* desktop */
@media (min-width: 1280px){
    nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .prod {
        width: 23%;
    }

    .logo {
        width: 33%;
    }

    .barra-busqueda {
        width: 33%;
    }

    .msg-cuo-tar {
        width: 33%;
        padding: 20px;
        align-self: center;
    }
     
    .menus {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 30px;
    }

    .menu1{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        gap: 20px;
        margin-left: 25px;
    }

    .menu2{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        gap: 20px;
        margin-right: 25px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;  
    }

    .footer-article {
        width: 33%;
    }

    .icon-footer:hover {
        color: #EAC926;
    }

    .text-copy {
        padding-left: 10px;
    }

    .md-box-shadow {
        box-shadow: none;
        transition: box-shadow .3s;
    }

    .md-box-shadow:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .prod:hover {
        .descripciones {
            display: block;
        }

        .icono-envio{
            transform: rotate(-90deg);
        }
    }
}