*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.encabezado {
    background-color: #EAC926;
    font-size: 22px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

.navs {
    color: black;
    text-decoration: none;
    padding: 8px;
}

.msg-cuo-tar {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.burger-menu {    
    text-align: center;
    width: 100%;
}

.fa-bars {
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: #03264C;
    font-weight: bold;
}

main {
    box-sizing: border-box;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

nav {
    display: none;
}

.logo {
    width: 50%;
}

.barra-busqueda {
    width: 50%;
    padding: 20px;
    align-self: center;
}

.barra-action {
    padding: 10px;
    display: flex;
    border-radius: 5px;
}

.barra-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.barra-button {
    border: none;
}

footer {
    background-color: white;
    text-align: center;
    padding: 20px;
    width: 100%;  
    bottom: 0; 
}

.footer-article {
    padding-top: 30px;
}

.icon-footer {
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

.formulario {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    gap: 50px;
    align-content: center;
}

.env-can {
    color: white;
    background-color: #03264C;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 50px;
}

.formulario ::placeholder {
    padding-left: 3%; 
    font-size: 20px;
 }

 .nomape, .user, .pfp, .mail, .fecha, .domicilio, .pass, .repass {
    background-color: white;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 50px;
 }

 .perfil {
    font-size: 20px;
 }

 .intereses {
    font-size: 20px;
 }

/* tablet */
@media (min-width: 768px){
    nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .logo {
        width: 33%;
    }

    .barra-busqueda {
        width: 33%;
    }

    .msg-cuo-tar {
        width: 33%;
        padding: 20px;
        align-self: center;
    }
     
    .menus {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 30px;
        font-size: 2vw; 
    }

    .navs {
        padding: auto;
    }

    .menu1{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        gap: 2%;
        margin-left: 22px;
    }

    .menu2{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        gap: 2%;
        margin-right: 22px;
    }

    .encabezado {
        align-items: center;
    }
}

/* desktop */
@media (min-width: 1280px){
    nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .logo {
        width: 33%;
    }

    .barra-busqueda {
        width: 33%;
    }

    .msg-cuo-tar {
        width: 33%;
        padding: 20px;
        align-self: center;
    }
     
    .menus {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 30px;
    }

    .menu1{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        gap: 20px;
        margin-left: 25px;
    }

    .menu2{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        gap: 20px;
        margin-right: 25px;
    }
}